.icon {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: #ffffff;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}

.icon:hover {
    opacity: 0.7;
}

.icon.is-active:hover {
    opacity: 0.7;
}

.icon.is-active .icon-inner,
.icon.is-active .icon-inner::before,
.icon.is-active .icon-inner::after {
    background-color: #ffffff;
}

.icon-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.icon-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.icon-inner,
.icon-inner::before,
.icon-inner::after {
    width: 40px;
    height: 4px;
    background-color: #ffffff;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.icon-inner::before,
.icon-inner::after {
    content: "";
    display: block;
}

.icon-inner::before {
    top: -10px;
}

.icon-inner::after {
    bottom: -10px;
}

